:root {
    background-color: lightgray;
    font-family: 'Josefin Sans', sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, canvas {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.25em;
}

a {
    text-decoration: none;
    color: #AC91F7;
}

.container {
    display: flex;
    flex-direction: row;
    flex-shrink: 0px;

    height: 100%;
}

.sidebar-container {
    height: calc(100%-40px);
    width: 25%;

    background-color: white;

    padding: 20px;
    margin: 10px 5px 10px 10px;
}

.text-section {
    margin-bottom: 2em;
}

.file-input {
    display: flex;
    flex-direction: column;

    margin-bottom: 2em;
}

.file-input div {
    margin: 3px 0px;
}

button {
    font-family: inherit;
    font-size: inherit;

    border: none;
    padding: 2px 8px 0px 8px;
    background-color: lightgray;

    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

.results-container {
    height: calc(100%-40px);
    width: 75%;

    background-color: white;

    padding: 20px;
    margin: 10px 10px 10px 5px;
}

.input {
    width: 100%;
}

.input-group {
    width: 256px;
    margin: 10px auto 50px;
}

.results {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.results-group {
    width: 514px;
    margin: 10px auto;
}

canvas {
    border: 1px solid black;

    display: block;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

canvas.input-image {
    width: 255px;
    height: 255px;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

canvas#mini {
    display: none;
}

canvas.result-image {
    width: 512px;
    height: 50px;

    margin: 10px 0px;
}